{{!-- Todo: Add style CSS properties to proper look --}}
<div class="row justify-space-between-md m-5">
  <h2 class="display-1 d-flex justify-content-start">Welcome! Please sign in.</h2>
  <div class="login-card form" style="width: 26rem">
    <h2 class="page-title">Login</h2>
    <form class="form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input class="form-control form-control-lg" type="email" id="email-login" aria-describedby="emailHelp" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input class="form-control" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="signup-form form" style="width: 26rem">
    <h2 class="page-title">Signup</h2>
    <form class="form">
      <div class="form-group mb-3">
        <label for="username-signup">Username:</label>
        <input class="form-control form-control-lg" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-control form-control-lg" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-control form-control-lg" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>